@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* .......................................navbar */

.logo {
    padding-right: 7px;
    font-size: 30px;
    color: #2098d1;
}

.brand-name {
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    color: #2098d1;
    text-transform: uppercase;
}

/* .menu-right {
    margin-left: 40%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase; 
    font-weight: 500;   
} */

.field-img {
    width: 100%;
}